<!doctype html>
<html lang="en">
<head>
    <title>EMS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href = "css/styles.css" rel = "stylesheet"/>
</head>

<div><br></div>

<div class="container">
    <div class="jumbotron bg-dark text-white" align="center">
        <div class="container">
            <div class="row">
                <div class="col" align="left">
                    <table>
                        <tr>
                            <td>
                                <img src="oop.png" width="130" height="100" alt="Sample Logo">
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <h2 class="display-4">Employee Management System</h2>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <div class="container" align="right">
                        <table style="width:20px">
                            <tr><td>&nbsp;</td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <!-- Button trigger modal for Create New Employee -->
<!--                                    <button type="button" href="#" class="btn btn-outline-light btn-lg">Create New Employee</button>-->
                                    <button type="button" class="btn btn-outline-light btn-lg" data-toggle="modal" data-target="#createEmployeeModalCenter">
                                        Create New Employee
                                    </button>
                                    <!-- Modal for Create New Employee -->
                                    <div class="modal fade" id="createEmployeeModalCenter" tabindex="-1" role="dialog" aria-labelledby="createEmployeeModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 id="createEmployeeModalLongTitle" style="color:black;">Add New Employee</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="jumbotron bg-dark text-white">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="recipient-fname" class="col-form-label">First Name:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" class="form-control" id="recipient-fname" placeholder="Enter first name">
                                                                </div>
                                                            </div>
                                                            <div class="row"><br></div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="recipient-lname" class="col-form-label">Last Name:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" class="form-control" id="recipient-lname" placeholder="Enter last name">
                                                                </div>
                                                            </div>
                                                            <div class="row"><br></div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="message-address" class="col-form-label">Address:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <textarea class="form-control" id="message-address" placeholder="Enter address"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row"><br></div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="recipient-tel" class="col-form-label">Tel No.:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="number" class="form-control" id="recipient-tel" placeholder="Enter tel. number">
                                                                </div>
                                                            </div>
                                                            <div class="row"><br></div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="recipient-bday" class="col-form-label">Employee Code:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="number" class="form-control" id="recipient-bday" placeholder="Enter employee code">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col" align="left">
                                                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal" align="left">Close</button>
                                                        </div>
                                                        <div class="col" align="right">
                                                            <button type="button" class="btn btn-outline-dark">Save</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
       <H2><b>Existing Employee Details!</b></H2>
        <div>
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col" style="font-size:12px;">First Name</th>
                        <th scope="col" style="font-size:12px;">Last Name</th>
                        <th scope="col" style="font-size:12px;">Address</th>
                        <th scope="col" style="font-size:12px;">Tel No.</th>
                        <th scope="col" style="font-size:12px;">Employee Code</th>
                        <th scope="col" style="font-size:12px;">More Info.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kamal</td>
                        <td>Gunasena</td>
                        <td>Yanthampalawa, Kurunegala</td>
                        <td>0715244359</td>
                        <td>2000/02/12</td>
                        <td>
                            <!-- Button trigger modal for View Employee -->
                            <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">
                                View
                            </button>

                            <!-- Modal for View Employee -->
                            <div class="modal fade bd-example-modal-lg" id="viewModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 id="viewModalLongTitle" style="color:black;">Employee Information</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="jumbotron bg-dark text-white">
                                                <b><h2 style="font-size:16px;" class="display-4">Employee Details</h2></b>
                                                    <hr class="my-4">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <label style="font-size:12px;" class="col-form-label">First Name:</label>
                                                        </div>
                                                        <div class="col-9">
                                                            <label class="col-form-label">Kamal</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <label style="font-size:12px;" class="col-form-label">Last Name:</label>
                                                        </div>
                                                        <div class="col-9">
                                                            <label class="col-form-label">Gunasena</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <label style="font-size:12px;" class="col-form-label">Address:</label>
                                                        </div>
                                                        <div class="col-9">
                                                            <label class="col-form-label">Yanthampalawa, Kurunegala</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <label style="font-size:12px;" class="col-form-label">Tel No:</label>
                                                        </div>
                                                        <div class="col-9">
                                                            <label class="col-form-label">0715244359</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <label style="font-size:12px;" class="col-form-label">Employee Code:</label>
                                                        </div>
                                                        <div class="col-9">
                                                            <label class="col-form-label">8965242</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="jumbotron bg-dark text-white">
                                                    <b><h2 style="font-size:16px;" class="display-4">Allocated Project Details</h2></b>
                                                    <hr class="my-4">
                                                    <div class="container">
                                                        <div class="row" align="center">
                                                            <div class="col">
                                                                <!-- Button trigger modal for View Employee -->
<!--                                                                    <button type="button" class="btn btn-outline-light btn-lg" style="height:75px;width:150px">Project Name</button>-->
                                                                <button class="btn btn-outline-light btn-lg" type="button" style="height:75px;width:150px" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
                                                                    Project Name1
                                                                </button>
<!--                                                                <div class="collapse" id="collapseExample">-->
<!--                                                                    <div class="card card-body">-->
<!--                                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
                                                            </div>
                                                            <div class="col">
                                                                <button class="btn btn-outline-light btn-lg" type="button" style="height:75px;width:150px" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
                                                                    Project Name2
                                                                </button>
                                                            </div>
                                                            <div class="col">
                                                                <button type="button" class="btn btn-outline-light btn-lg" style="height:75px;width:150px">Project Name3</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
<!--                                            collapse section1-->
                                            <div class="container">
                                                <div class="collapse" id="collapse1">
                                                    <div class="jumbotron bg-dark text-white">
                                                        <b><h2 style="font-size:16px;" class="display-4">Project Details</h2></b>
                                                        <hr class="my-4">
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Project Name:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">Sibos</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Project Code:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">RT009-99</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">PM:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">Sunil Kathriarachchi</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Due Date</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">2018/01/21</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Commenced Date:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">2000/02/12</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jumbotron bg-dark text-white">
                                                        <b><h2 style="font-size:16px;" class="display-4">Allocated Task Details</h2></b>
                                                        <hr class="my-4">
                                                        <div class="container">
                                                            <table class="table table-sm" align="center">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col" style="font-size:12px;">Task Code</th>
                                                                    <th scope="col" style="font-size:12px;">Task Name</th>
                                                                    <th scope="col" style="font-size:12px;">Task Details</th>
                                                                    <th scope="col" style="font-size:12px;">Task Owner</th>
                                                                    <th scope="col" style="font-size:12px;">Commenced Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>RT556</td>
                                                                    <td>Planning</td>
                                                                    <td>Estimating resources</td>
                                                                    <td>Neranjan Athawuda</td>
                                                                    <td>2000/02/12</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
<!--                                            collapse section2-->
                                            <div class="container">
                                                <div class="collapse" id="collapse2">
                                                    <div class="jumbotron bg-dark text-white">
                                                        <b><h2 style="font-size:16px;" class="display-4">Project Details</h2></b>
                                                        <hr class="my-4">
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Project Name2:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">Polixia</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Project Code:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">RU009-99</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">PM:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">Adisha Rathnaweera</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Due Date</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">2018/01/21</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label style="font-size:12px;" class="col-form-label">Commenced Date:</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <label class="col-form-label">2000/02/12</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jumbotron bg-dark text-white">
                                                        <b><h2 style="font-size:16px;" class="display-4">Allocated Task Details</h2></b>
                                                        <hr class="my-4">
                                                        <div class="container">
                                                            <table class="table table-sm" align="center">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col" style="font-size:12px;">Task Code</th>
                                                                    <th scope="col" style="font-size:12px;">Task Name</th>
                                                                    <th scope="col" style="font-size:12px;">Task Details</th>
                                                                    <th scope="col" style="font-size:12px;">Task Owner</th>
                                                                    <th scope="col" style="font-size:12px;">Commenced Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>RT556</td>
                                                                    <td>Analyzing</td>
                                                                    <td>Requirements analyzing</td>
                                                                    <td>Neranjan Athawuda</td>
                                                                    <td>2000/02/12</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col" align="right">
                                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal" align="left">Close</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Somasiri</td>
                        <td>Ekanayake</td>
                        <td>2nd Street, Ibbagamuwa</td>
                        <td>0715644359</td>
                        <td>1988/02/12</td>
                        <td><button type="button" class="btn btn-outline-light btn-sm">View</button></td>
                    </tr>
                    <tr>
                        <td>Kamal</td>
                        <td>Gunasena</td>
                        <td>Yanthampalawa, Kurunegala</td>
                        <td>0715244359</td>
                        <td>2000/02/12</td>
                        <td><button type="button" class="btn btn-outline-light btn-sm">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>